@import "tailwindcss";

:root {
  /* Backgrounds */
  --bg: #ffffff;
  --bg-soft: #ffeef2;
  --bg-muted: #ffeef2;

  /* Accents */
  --accent: #bf969d;
  --accent-2: #a46e76;
  --success: #90aa8d;

  /* Text */
  --ink: #737373;
  --ink-muted: #737373;
  --ink-strong: #000000;

  /* Brand */
  --primary: #854a58;
  --primary-light: #bf969d;
}

@theme inline {
  --color-bg: var(--bg);
  --color-bgSoft: var(--bg-soft);
  --color-bgMuted: var(--bg-muted);

  --color-accent: var(--accent);
  --color-accent2: var(--accent-2);
  --color-success: var(--success);

  --color-ink: var(--ink);
  --color-inkMuted: var(--ink-muted);
  --color-inkStrong: var(--ink-strong);

  --color-primary: var(--primary);
  --color-primaryLight: var(--primary-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg);
  color: var(--ink);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
